**Rev a number**

In [23]:
def rev_number(number):
    rev = 0
    while number != 0:
        rev = rev*10 + number%10
        number = number //10
    print(rev)

In [24]:
rev_number(1234)

4321

In [ ]:
.

In [4]:
numb = 1234
rev = 0
while numb !=0:
    
    rev = rev *10 + numb%10
    numb = numb//10
print(rev)

4321

**prime number**

In [43]:
def prime_num(num):
    temp = 0
    for i in range(2, num//2):
        if num%i==0:
            temp=1
            break
    if temp==1:
        print("not prime")
    else:
        print("prime")

In [45]:
prime_num(10)

not prime

**fib_series**

In [61]:
def fib_series(tgt):
    a=0
    b=1
    for i in range(0,tgt):
        c=a+b
        if a < tgt:
            
            print(a)
            a=b
            b=c

In [62]:
fib_series(100)

0
1
1
2
3
5
8
13
21
34
55
89

**palindrome number**

In [94]:
def palandrom_num(number):
    rev = 0
    temp = number
    while number!=0:
        rev = rev*10 + number%10
        number  = number//10
#         print(rev)
    if temp ==rev:
        print("palandrom")

In [95]:
palandrom_num(121)

palandrom

In [99]:
a,b,c = 1,2,3

if a > b and a > c:
    print("a greater")
if b > a and b > c:
    print("b greater")
if c > a and c > b:
    print("c greater")

c greater

**sum of number**

In [12]:
numb = 123
sum =0
while numb !=0:
    sum = sum + numb%10
    numb = numb//10
print(sum)

6

In [105]:
a=10
print(a)
b=20
print(b)
a=b
print(a)
b=a
print(b)

10
20
20
20

In [106]:
a=10
b=20
c=a
a=b
print(a)
b=c
print(b)

20
10

**convert list into string**

In [13]:

weekdays = ['sun','mon','tue','wed','thu','fri','sat']
listAsString = ' '.join(weekdays)
print(listAsString)

sun mon tue wed thu fri sat

In [7]:
type(listAsString)

str

In [15]:
weekdays = ['sun',2,'tue','wed','thu','fri','sat']
listAsTuple = tuple(weekdays)
print(listAsTuple)

('sun', 2, 'tue', 'wed', 'thu', 'fri', 'sat')

In [16]:
weekdays = ['sun','mon','tue','wed','thu','fri','sat','sun','tue']
listAsSet = set(weekdays)
print(listAsSet)

{'sun', 'mon', 'thu', 'sat', 'tue', 'fri', 'wed'}

In [1]:
set_of_values = {'g', 'e', 'e', 'k', 's'}
print(sorted(set_of_values))

['e', 'g', 'k', 's']

In [3]:
type(set_of_values)

set

In [2]:
type(sorted(set_of_values))

list

**count number of element in list**

In [63]:
list1 = [1,2,2,3,3,3,5,5,6,7,8,8,8,8]

In [67]:
[[x,list1.count(x)] for x in set(list1)]

[[1, 1], [2, 2], [3, 3], [5, 2], [6, 1], [7, 1], [8, 4]]

In [9]:
list1 = [1,2,2,3,3,3,5,5,6,7,8,8,8,8]

In [11]:
for i in set(list1):
    print(i,list1.count(i))

1 1
2 2
3 3
5 2
6 1
7 1
8 4

In [68]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)

print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

**negative index**

In [72]:
import array
a = [1, 2, 3,4,5,6,7,8,9,0]
print (a[-3])
print (a[-2])
print (a[-1])

8
9
0

In [76]:
a[-10]

1

**what is enumerate**

In [ ]:
subjects = ('Python', 'Interview', 'Questions')
for i, subject in enumerate(subjects):
print(i, subject)

In [13]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)

In [102]:
 print('Python' + ' Interview' +' '+a)

Python Interview sunday

In [ ]:
# get a sum on nth num.

In [116]:
print (sum(range(1,10)))

45

In [6]:
def sum_num():
    global kk 
    kk = 10
    numb =int( input("enter first numb: "))
    numb1 =int( input("enter second numb: "))
    a = sum(range(numb, numb1+1))
    return print("sum of number is ",a)

In [7]:
(sum_num())

enter first numb: 2
enter second numb: 5
sum of number is  14

In [190]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]

In [174]:
name1 = ['Amir', 'Bear', 'Charlton', 'Daman']

In [177]:
kk = name1

In [178]:
kk

['Amir', 'Bear', 'Charlton', 'Daman']

In [180]:
names1

['Amir', 'Bear', 'Charlton', 'Daman']

In [181]:
names2

['Amir', 'Bear', 'Charlton', 'Daman']

In [182]:
names3

['Amir', 'Bear', 'Charlton', 'Daman']

In [191]:
names2[0] = 'Alice'
names3[1] = 'Bob'

In [192]:
names1

['Alice', 'Bear', 'Charlton', 'Daman']

In [193]:
names2

['Alice', 'Bear', 'Charlton', 'Daman']

In [194]:
names3

['Amir', 'Bob', 'Charlton', 'Daman']

In [170]:
sum = 0
for ls in (names1, names2, names3):
    print(ls)
    if ls[0] == 'Alice':
        sum += 1
    if ls[1] == 'Bob':

        sum += 10

print (sum)

['Alice', 'Bear', 'Charlton', 'Daman']
['Alice', 'Bear', 'Charlton', 'Daman']
['Amir', 'Bob', 'Charlton', 'Daman']
12

In [197]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [8]:
def avg_num(a):
    avgaa = (sum(a)/len(a))
    return avgaa

In [9]:
a = [1,2,3,4,5]

In [10]:
avg_num(a)

3.0

In [21]:
numb = 1234
count = 0
while (numb > 0):
    count = count+1
    numb = numb//10
print(count)

4

In [12]:
numb = 20
count = 0
for i in range(1, numb+1):
#     print("kk")
    if numb%i == 0:
        count = count + 1
if count ==2:
        print("prime")
if count !=2:
        print("not prime")

not prime

In [13]:
def fib_series(tgt):
    a=0
    b=1
    for i in range(0,tgt):
        c=a+b
        if a < tgt:
            
            print(a)
            a=b
            b=c

In [14]:
fib_series(50)

0
1
1
2
3
5
8
13
21
34

In [ ]:
# rev a string

In [16]:
s= "kshitij"

In [17]:
(s[::-1])

'jitihsk'

In [20]:
sorted(s)

['h', 'i', 'i', 'j', 'k', 's', 't']

**common alphabet in string**

In [16]:
s1=input("Enter first string:")
s2=input("Enter second string:")
a=list(set(s1)&set(s2))
print(a)
print("The common letters are:")
for i in a:
    print(i)

Enter first string:passive
Enter second string:mess
['s', 'e']
The common letters are:
s
e

In [28]:
set(s1)

{'a', 'b', 'i', 'm', 'u'}

In [29]:
set(s2)

{'e', 'n', 'p', 'u'}

In [31]:
(set(s1)&set(s2))

{'u'}

**Remove duplicates from a given list without using any inbuilt function**

In [24]:
l1 = [1,2,3,4,4,5,5,5,6]

In [25]:
def remove(list1):
    temp_list = []
    for i in list1:
        if i not in temp_list:
            temp_list.append(i)
    return temp_list

In [26]:
remove(l1)

[1, 2, 3, 4, 5, 6]

**Check if the list contains value**

In [31]:
def check_list(list1 , number_to_check):
    if number_to_check in list1:
        print("present")
    else:
        print("Not present")

In [ ]:
l1 = [1,2,3,4,4,5,5,5,6]

In [32]:
check_list(l1,10)

Not present

In [34]:
l1 = [1,2,3,4,4,5,5,5,6]

In [41]:
new = []
for i in l1:
    n= l1.count(i)
#     print(n)
    if n > 1:
        if i not in new:
            
            new.append(i)
print("duplicate element in the list ",new)

duplicate element in the list  [4, 5]

In [52]:
def duplicate(l1):
    new = []
    for i in l1:
        n = l1.count(i)
        if n > 1 :
            if i not in new:
                new.append(i)
    return print("duplicate element in the list ",new)

In [53]:
duplicate(l1)

duplicate element in the list  [4, 5]

**Remove all duplicates from the list**

In [ ]:
l1 = [1,2,3,4,4,5,5,5,6]

In [55]:
def remove_dup(l1):
    new = []
    for i in l1:
        if i not in new:
            new.append(i)
    return new

In [56]:
remove_dup(l1)

[1, 2, 3, 4, 5, 6]

**Find pair of integers in the list so that their sum is equal to integer x**

In [81]:
l1 = [8, 7, 2, 5, 3, 1]
tgt = 9
for i in range(len(l1)-1):
    
    for j in range(i+1, len(l1)):
        if l1[i] + l1[j] == tgt:
            print ("pair is",l1[i],l1[j] )

pair is 8 1
pair is 7 2

In [88]:
def pair(l1, tgt):
    for i in range(len(l1)-1):
        for j in range (i+1, len(l1)):
            if l1[i] + l1[j] == tgt :
                print("pair is ",l1[i],l1[j])

In [89]:
l1 = [8, 7, 2, 5, 3, 1]
tgt = 10
pair(l1, tgt)

pair is  8 2
pair is  7 3

 **Check whether a string is palindrome**

In [92]:
def palandrom(s):
    if s == s[::-1]:
        print("palandrom")
    else:
        print ("not a palandrom")

In [96]:
s = "mumbai"
palandrom(s)

not a palandrom