In [10]:
import findspark

In [11]:
findspark.init()

In [12]:
from pyspark.sql import SparkSession

In [13]:
spark = SparkSession. \
            builder. \
            master('local'). \
            appName("practice"). \
            getOrCreate()

In [14]:
spark

Get order count per customer for the month of 2014 January.

 orders and customers
 
Data should be sorted in descending order by count and ascending order by customer id.
Output should contain customer_id, customer_first_name, customer_last_name and customer_order_count.

In [29]:
order_df = spark.read.json(r"C:\Users\Kshitij kadu\Desktop\retail\orders")

In [30]:
order_df.count()

68883

In [31]:
order_df.printSchema()

root
 |-- order_customer_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [8]:
customer_df = spark.read.json(r"C:\Users\Kshitij kadu\Desktop\retail\customers")

In [9]:
customer_df.count()

12435

In [14]:
order_df.printSchema()

root
 |-- order_customer_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [96]:
from pyspark.sql.functions import date_format, count, lit, col

In [43]:
order_df.printSchema()

root
 |-- order_customer_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [42]:
customer_df.printSchema()

root
 |-- customer_city: string (nullable = true)
 |-- customer_email: string (nullable = true)
 |-- customer_fname: string (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- customer_lname: string (nullable = true)
 |-- customer_password: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- customer_street: string (nullable = true)
 |-- customer_zipcode: string (nullable = true)

In [54]:
jan_2014_orders = order_df.withColumn("order_date", date_format("order_date","MMyyyy")).filter("order_date='012014'")

In [58]:
joined_df = jan_2014_orders.join(customer_df, jan_2014_orders["order_customer_id"] == customer_df["customer_id"])

In [99]:
joined_df.groupBy("customer_id", "customer_fname", "customer_lname").\
       agg(count(lit("1")).alias("order_count")).orderBy(col("order_count").desc(), "customer_id").show()

+-----------+--------------+--------------+-----------+
|customer_id|customer_fname|customer_lname|order_count|
+-----------+--------------+--------------+-----------+
|       8622|       Shirley|         Smith|          5|
|       9676|       Theresa|         Smith|          5|
|          7|       Melissa|        Wilcox|          4|
|        222|         Frank|          Ruiz|          4|
|       2444|       Kenneth|         Smith|          4|
|       2485|          Mary|     Hernandez|          4|
|       2555|          Mary|          Long|          4|
|       3128|         Karen|        Turner|          4|
|       3199|        Ashley|     Hernandez|          4|
|       3610|        Jordan|         Smith|          4|
|       3710|        Ashley|         Smith|          4|
|       3758|         Scott|         Smith|          4|
|       4618|        Andrea|         Smith|          4|
|       5583|          Mary|       Skinner|          4|
|       6341|        Daniel|         Smith|          4|
|       6404|         Dylan|         Smith|          4|
|       7439|          Mary|        Flores|          4|
|       7515|          Mary|         Smith|          4|
|       7758|         Joyce|          Howe|          4|
|       8135|          Mary|       Stevens|          4|
+-----------+--------------+--------------+-----------+
only showing top 20 rows

In [100]:
order_df.printSchema()

root
 |-- order_customer_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [ ]:
filter

In [103]:
order_df.filter("order_status='COMPLETE'").show()

+-----------------+--------------------+--------+------------+
|order_customer_id|          order_date|order_id|order_status|
+-----------------+--------------------+--------+------------+
|            12111|2013-07-25 00:00:...|       3|    COMPLETE|
|            11318|2013-07-25 00:00:...|       5|    COMPLETE|
|             7130|2013-07-25 00:00:...|       6|    COMPLETE|
|             4530|2013-07-25 00:00:...|       7|    COMPLETE|
|             2568|2013-07-25 00:00:...|      15|    COMPLETE|
|             2667|2013-07-25 00:00:...|      17|    COMPLETE|
|              333|2013-07-25 00:00:...|      22|    COMPLETE|
|             7562|2013-07-25 00:00:...|      26|    COMPLETE|
|              656|2013-07-25 00:00:...|      28|    COMPLETE|
|             3960|2013-07-25 00:00:...|      32|    COMPLETE|
|             4840|2013-07-25 00:00:...|      35|    COMPLETE|
|             2636|2013-07-25 00:00:...|      45|    COMPLETE|
|            10519|2013-07-25 00:00:...|      56|    COMPLETE|
|             1148|2013-07-25 00:00:...|      63|    COMPLETE|
|             5903|2013-07-25 00:00:...|      65|    COMPLETE|
|             1406|2013-07-25 00:00:...|      67|    COMPLETE|
|             8646|2013-07-25 00:00:...|      71|    COMPLETE|
|             4349|2013-07-25 00:00:...|      72|    COMPLETE|
|             6898|2013-07-25 00:00:...|      76|    COMPLETE|
|             3007|2013-07-25 00:00:...|      80|    COMPLETE|
+-----------------+--------------------+--------+------------+
only showing top 20 rows

In [104]:
order_df.filter("order_status='COMPLETE' AND order_customer_id<=1000").show()

+-----------------+--------------------+--------+------------+
|order_customer_id|          order_date|order_id|order_status|
+-----------------+--------------------+--------+------------+
|              333|2013-07-25 00:00:...|      22|    COMPLETE|
|              656|2013-07-25 00:00:...|      28|    COMPLETE|
|              610|2013-07-26 00:00:...|     126|    COMPLETE|
|              384|2013-07-26 00:00:...|     175|    COMPLETE|
|              210|2013-07-26 00:00:...|     184|    COMPLETE|
|              173|2013-07-26 00:00:...|     247|    COMPLETE|
|               45|2013-07-26 00:00:...|     253|    COMPLETE|
|              230|2013-07-26 00:00:...|     264|    COMPLETE|
|              815|2013-07-26 00:00:...|     271|    COMPLETE|
|              137|2013-07-26 00:00:...|     306|    COMPLETE|
|              410|2013-07-26 00:00:...|     311|    COMPLETE|
|               76|2013-07-26 00:00:...|     324|    COMPLETE|
|              189|2013-07-27 00:00:...|     369|    COMPLETE|
|              776|2013-07-27 00:00:...|     372|    COMPLETE|
|              615|2013-07-27 00:00:...|     496|    COMPLETE|
|              846|2013-07-27 00:00:...|     497|    COMPLETE|
|               66|2013-07-28 00:00:...|     535|    COMPLETE|
|              121|2013-07-28 00:00:...|     540|    COMPLETE|
|              460|2013-07-28 00:00:...|     613|    COMPLETE|
|              286|2013-07-28 00:00:...|     654|    COMPLETE|
+-----------------+--------------------+--------+------------+
only showing top 20 rows

In [15]:
employees = [
    (1, "Scott", "Tiger", 1000.0, 
      "united states", "+1 123 456 7890", "123 45 6789"
    ),
     (2, "Henry", "Ford", 1250.0, 
      "India", "+91 234 567 8901", "456 78 9123"
     ),
     (3, "Nick", "Junior", 750.0, 
      "united KINGDOM", "+44 111 111 1111", "222 33 4444"
     ),
     (4, "Bill", "Gomes", 1500.0, 
      "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
     )
]

In [21]:
emp_df = spark.createDataFrame(employees,
                     schema = """empid INT, first_name STRING, last_name STRING,
                                salary FLOAT, country STRING, contact_num STRING, ref_num STRING""")

In [22]:
emp_df.show()

+-----+----------+---------+------+--------------+----------------+-----------+
|empid|first_name|last_name|salary|       country|     contact_num|    ref_num|
+-----+----------+---------+------+--------------+----------------+-----------+
|    1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
|    2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|    3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|    4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----+----------+---------+------+--------------+----------------+-----------+

In [17]:
spark.sql("show functions").show(296)

+--------------------+
|            function|
+--------------------+
|                   !|
|                  !=|
|                   %|
|                   &|
|                   *|
|                   +|
|                   -|
|                   /|
|                   <|
|                  <=|
|                 <=>|
|                  <>|
|                   =|
|                  ==|
|                   >|
|                  >=|
|                   ^|
|                 abs|
|                acos|
|               acosh|
|          add_months|
|           aggregate|
|                 and|
|                 any|
|approx_count_dist...|
|   approx_percentile|
|               array|
|      array_contains|
|      array_distinct|
|        array_except|
|     array_intersect|
|          array_join|
|           array_max|
|           array_min|
|      array_position|
|        array_remove|
|        array_repeat|
|          array_sort|
|         array_union|
|      arrays_overlap|
|          arrays_zip|
|               ascii|
|                asin|
|               asinh|
|         assert_true|
|                atan|
|               atan2|
|               atanh|
|                 avg|
|              base64|
|             between|
|              bigint|
|                 bin|
|              binary|
|             bit_and|
|           bit_count|
|          bit_length|
|              bit_or|
|             bit_xor|
|            bool_and|
|             bool_or|
|             boolean|
|              bround|
|         cardinality|
|                case|
|                cast|
|                cbrt|
|                ceil|
|             ceiling|
|                char|
|         char_length|
|    character_length|
|                 chr|
|            coalesce|
|        collect_list|
|         collect_set|
|              concat|
|           concat_ws|
|                conv|
|                corr|
|                 cos|
|                cosh|
|                 cot|
|               count|
|            count_if|
|    count_min_sketch|
|           covar_pop|
|          covar_samp|
|               crc32|
|                cube|
|           cume_dist|
|     current_catalog|
|    current_database|
|        current_date|
|   current_timestamp|
|    current_timezone|
|                date|
|            date_add|
|         date_format|
| date_from_unix_date|
|           date_part|
|            date_sub|
|          date_trunc|
|            datediff|
|                 day|
|          dayofmonth|
|           dayofweek|
|           dayofyear|
|             decimal|
|              decode|
|             degrees|
|          dense_rank|
|                 div|
|              double|
|                   e|
|          element_at|
|                 elt|
|              encode|
|               every|
|              exists|
|                 exp|
|             explode|
|       explode_outer|
|               expm1|
|             extract|
|           factorial|
|              filter|
|         find_in_set|
|               first|
|         first_value|
|             flatten|
|               float|
|               floor|
|              forall|
|       format_number|
|       format_string|
|            from_csv|
|           from_json|
|       from_unixtime|
|  from_utc_timestamp|
|     get_json_object|
|            greatest|
|            grouping|
|         grouping_id|
|                hash|
|                 hex|
|                hour|
|               hypot|
|                  if|
|              ifnull|
|                  in|
|             initcap|
|              inline|
|        inline_outer|
|input_file_block_...|
|input_file_block_...|
|     input_file_name|
|               instr|
|                 int|
|               isnan|
|           isnotnull|
|              isnull|
|         java_method|
|   json_array_length|
|    json_object_keys|
|          json_tuple|
|            kurtosis|
|                 lag|
|                last|
|            last_day|
|          last_value|
|               lcase|
|                lead|
|               least|
|                left|
|              length|
|         levenshtein|
|                like|
|                  ln|
|              locate|
|                 log|
|               log10|
|               log1p|
|                log2|
|               lower|
|                lpad|
|               ltrim|
|           make_date|
|       make_interval|
|      make_timestamp|
|                 map|
|          map_concat|
|         map_entries|
|          map_filter|
|     map_from_arrays|
|    map_from_entries|
|            map_keys|
|          map_values|
|        map_zip_with|
|                 max|
|              max_by|
|                 md5|
|                mean|
|                 min|
|              min_by|
|              minute|
|                 mod|
|monotonically_inc...|
|               month|
|      months_between|
|        named_struct|
|               nanvl|
|            negative|
|            next_day|
|                 not|
|                 now|
|           nth_value|
|               ntile|
|              nullif|
|                 nvl|
|                nvl2|
|        octet_length|
|                  or|
|             overlay|
|           parse_url|
|        percent_rank|
|          percentile|
|   percentile_approx|
|                  pi|
|                pmod|
|          posexplode|
|    posexplode_outer|
|            position|
|            positive|
|                 pow|
|               power|
|              printf|
|             quarter|
|             radians|
|         raise_error|
|                rand|
|               randn|
|              random|
|                rank|
|             reflect|
|      regexp_extract|
|  regexp_extract_all|
|      regexp_replace|
|              repeat|
|             replace|
|             reverse|
|               right|
|                rint|
|               rlike|
|              rollup|
|               round|
|          row_number|
|                rpad|
|               rtrim|
|       schema_of_csv|
|      schema_of_json|
|              second|
|           sentences|
|            sequence|
|                 sha|
|                sha1|
|                sha2|
|           shiftleft|
|          shiftright|
|  shiftrightunsigned|
|             shuffle|
|                sign|
|              signum|
|                 sin|
|                sinh|
|                size|
|            skewness|
|               slice|
|            smallint|
|                some|
|          sort_array|
|             soundex|
|               space|
|  spark_partition_id|
|               split|
|                sqrt|
|               stack|
|                 std|
|              stddev|
|          stddev_pop|
|         stddev_samp|
|          str_to_map|
|              string|
|              struct|
|              substr|
|           substring|
+--------------------+
only showing top 296 rows