In [1]:
import findspark

In [2]:
findspark.init()

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession. \
            builder. \
            master('local'). \
            appName("practice"). \
            getOrCreate()

In [5]:
spark

In [ ]:
empid|empname|managerid|salary|joining_date|gender
1,"Ram",4,100,02-11-2021,"M"
2,"Raj",3,80,02-11-2021,"M"
3,"Shehal",4,120,02-01-2001,"F"
4,"Saiee",5,150,02-01-2002,"F"
5,"Rakesh",NULL,180,02-01-2003,"M"
6,"Rachna",4,110,02-01-2004,"F"

In [6]:
data = [ (1, "Ram", 4,100, "02-11-2021", "M"),
         (2, "Raj", 3,80, "02-11-2021", "M"),
         (3, "Shehal", 4, 120,"02-01-2001", "F"),
         (4, "Saiee", 5, 150, "02-01-2002", "F"),
         (5, "Rakesh", 0, 180,"02-01-2003", "M"),
         (6, "Rachna", 4, 110,"02-01-2004", "F")
       ]

In [7]:
emp_df = spark.createDataFrame(data,
                     schema = """empid INT, empname STRING, managerid INT, salary INT, joining_date STRING, gender STRING """)

In [8]:
emp_df.show()

+-----+-------+---------+------+------------+------+
|empid|empname|managerid|salary|joining_date|gender|
+-----+-------+---------+------+------------+------+
|    1|    Ram|        4|   100|  02-11-2021|     M|
|    2|    Raj|        3|    80|  02-11-2021|     M|
|    3| Shehal|        4|   120|  02-01-2001|     F|
|    4|  Saiee|        5|   150|  02-01-2002|     F|
|    5| Rakesh|        0|   180|  02-01-2003|     M|
|    6| Rachna|        4|   110|  02-01-2004|     F|
+-----+-------+---------+------+------------+------+

In [9]:
emp_df.withColumn("year", emp_df.joining_date.substr(-4,4).cast("int")).show()

+-----+-------+---------+------+------------+------+----+
|empid|empname|managerid|salary|joining_date|gender|year|
+-----+-------+---------+------+------------+------+----+
|    1|    Ram|        4|   100|  02-11-2021|     M|2021|
|    2|    Raj|        3|    80|  02-11-2021|     M|2021|
|    3| Shehal|        4|   120|  02-01-2001|     F|2001|
|    4|  Saiee|        5|   150|  02-01-2002|     F|2002|
|    5| Rakesh|        0|   180|  02-01-2003|     M|2003|
|    6| Rachna|        4|   110|  02-01-2004|     F|2004|
+-----+-------+---------+------+------------+------+----+

In [10]:
filtered_emp_df = emp_df.withColumn("year", emp_df.joining_date.substr(-4,4).cast("int")).\
                   filter("year > 2005" and "gender = 'M'")

In [11]:
filtered_emp_df.show()

+-----+-------+---------+------+------------+------+----+
|empid|empname|managerid|salary|joining_date|gender|year|
+-----+-------+---------+------+------------+------+----+
|    1|    Ram|        4|   100|  02-11-2021|     M|2021|
|    2|    Raj|        3|    80|  02-11-2021|     M|2021|
|    5| Rakesh|        0|   180|  02-01-2003|     M|2003|
+-----+-------+---------+------+------------+------+----+