In [1]:
import findspark

In [2]:
findspark.init()

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.master('local').appName("practice").getOrCreate()

In [5]:
spark

In [27]:
original_data = spark.read.csv(r'C:\Users\Kshitij kadu\Desktop\sample_data\Records.csv', header=True, inferSchema=True).\
                printSchema()

root
 |-- Emp ID: integer (nullable = true)
 |-- Name Prefix: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Middle Initial: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- E Mail: string (nullable = true)
 |-- Father's Name: string (nullable = true)
 |-- Mother's Name: string (nullable = true)
 |-- Mother's Maiden Name: string (nullable = true)
 |-- Date of Birth: string (nullable = true)
 |-- Time of Birth: string (nullable = true)
 |-- Age in Yrs.: double (nullable = true)
 |-- Weight in Kgs.: integer (nullable = true)
 |-- Date of Joining: string (nullable = true)
 |-- Quarter of Joining: string (nullable = true)
 |-- Half of Joining: string (nullable = true)
 |-- Year of Joining: integer (nullable = true)
 |-- Month of Joining: integer (nullable = true)
 |-- Month Name of Joining: string (nullable = true)
 |-- Short Month: string (nullable = true)
 |-- Day of Joining: integer (nullable = true)
 |-- DOW of Joining: string (nullable = true)
 |-- Short DOW: string (nullable = true)
 |-- Age in Company (Years): double (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Last % Hike: string (nullable = true)
 |-- SSN: string (nullable = true)
 |-- Phone No. : string (nullable = true)
 |-- Place Name: string (nullable = true)
 |-- County: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zip: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- User Name: string (nullable = true)
 |-- Password: string (nullable = true)

In [28]:
emp_df = spark.read.csv(r'C:\Users\Kshitij kadu\Desktop\sample_data\Records.csv', header=True, inferSchema=True).\
         select("Emp ID", "First Name", "Last Name", "Gender", "Date of Birth", "Salary","County","Year of Joining")

In [29]:
emp_df.show()

+------+----------+---------+------+-------------+------+------------+---------------+
|Emp ID|First Name|Last Name|Gender|Date of Birth|Salary|      County|Year of Joining|
+------+----------+---------+------+-------------+------+------------+---------------+
|198429|  Serafina|Bumgarner|     F|    9/21/1982| 69294|  Chautauqua|           2008|
|178566|  Juliette|     Rojo|     F|     5/8/1967|193912|  Montgomery|           2011|
|647173|     Milan| Krawczyk|     M|     4/4/1980|123681|Anne Arundel|           2012|
|847634|     Elmer|    Jason|     M|     4/9/1996| 93504|  Washington|           2017|
|260736|     Zelda|   Forest|     F|   11/27/1959|176642| Schenectady|           2014|
|811306|     Rhett|      Wan|     M|    7/14/1976| 59406|      Fresno|           2009|
|956633|       Hal|   Farrow|     M|    3/15/1967|164580|  Stanislaus|           1991|
|629539|       Del|Fernandez|     M|    8/13/1991|138662|     Portage|           2016|
|784160|     Corey|  Jackman|     M|    4/12/1959| 57616|     Jamaica|           1984|
|744723|      Bibi|  Paddock|     F|   10/20/1991| 87148|     Overton|           2016|
|423093|      Eric|  Manning|     M|    11/2/1980|149363|     Fayette|           2002|
|207808|   Renetta|   Hafner|     F|    1/29/1975|180289|     Broward|           1998|
|338634|       Paz|  Pearman|     F|    2/28/1960|144804|     Clayton|           1982|
|324573|    Ardath|   Forman|     F|   11/12/1982|189373|      Clarke|           2009|
|953724|     Nanci|   Osorio|     F|     7/9/1982| 71321|     Grafton|           2003|
|138700|  Maricela|   Simard|     F|    7/21/1988| 88513|     Sampson|           2016|
|644265|   Avelina|   Stoner|     F|    10/1/1988|157826|Westmoreland|           2010|
|223871| Christene| Mattison|     F|    9/14/1990|177224|      Jasper|           2015|
|807262|    Stefan|    Maeda|     M|    3/23/1990| 67028| St. Tammany|           2011|
|368234|   Gillian|   Winter|     F|    1/17/1960|103619|       Otero|           1984|
+------+----------+---------+------+-------------+------+------------+---------------+
only showing top 20 rows

In [30]:
emp_df.printSchema()

root
 |-- Emp ID: integer (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Date of Birth: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- County: string (nullable = true)
 |-- Year of Joining: integer (nullable = true)

In [31]:
from pyspark.sql.functions import col, lit
from pyspark.sql.functions import rank, dense_rank, row_number

from pyspark.sql.window import Window

**get hightest paid emp in each country**

In [32]:
spec = Window.partitionBy("county").orderBy(col("Salary").desc())

In [33]:
emp_df.select("*").\
      withColumn("drank", dense_rank().over(spec)).\
      filter("drank=1").orderBy(col("Salary").desc()).show()

+------+----------+-----------+------+-------------+------+------------+---------------+-----+
|Emp ID|First Name|  Last Name|Gender|Date of Birth|Salary|      County|Year of Joining|drank|
+------+----------+-----------+------+-------------+------+------------+---------------+-----+
|583316|     Kenna|   Rothrock|     F|     2/6/1959|199971|     Madison|           1985|    1|
|506864|      Dick|        Sun|     M|    8/12/1959|199969|       Adair|           1987|    1|
|621655|       Sol| Pellegrino|     M|     6/8/1986|199958|    Accomack|           2013|    1|
|672252|       Jim|      Terry|     M|    1/18/1987|199954|Pottawatomie|           2010|    1|
|916763|  Floretta|     Macias|     F|    5/26/1973|199952|      Beaver|           1994|    1|
|404337|     Hosea|  Gustafson|     M|    11/4/1970|199952| Los Angeles|           2005|    1|
|740463|    Lanita|      Myatt|     F|    3/18/1986|199907|  Otter Tail|           2016|    1|
|566388|    Lennie|Baumgartner|     F|    6/30/1968|199892|      Fulton|           1996|    1|
|854363|     Caleb|     Aiello|     M|     8/9/1960|199892|      Dallas|           1983|    1|
|756069|    Latoya|    Donohoe|     F|   12/29/1988|199885|   Henderson|           2012|    1|
|526499|     Tonia|     Villar|     F|     6/9/1963|199832|     Johnson|           2000|    1|
|661572|   Coretta|  Middleton|     F|    6/14/1994|199828|    Jennings|           2017|    1|
|404133|   Tabitha|   Mcdaniel|     F|     2/9/1968|199827|       Wayne|           2015|    1|
|152267|      Kurt|     Deacon|     M|    9/10/1985|199823|    Plymouth|           2016|    1|
|863289|    Stuart|    Herrick|     M|   12/13/1982|199819|     Chester|           2005|    1|
|488166|    Halina|       Jack|     F|    9/24/1995|199806|   McCurtain|           2017|    1|
|271745|   Terrell|      Fouts|     F|    2/27/1969|199767|   Milwaukee|           2011|    1|
|932171|    Melisa|    Forsyth|     F|   11/20/1992|199766|       Logan|           2013|    1|
|578226|  Georgann|      Byrne|     F|     9/7/1990|199728|  Cumberland|           2017|    1|
|607650|     Irwin|       Hung|     M|    12/9/1959|199712|  Montgomery|           2015|    1|
+------+----------+-----------+------+-------------+------+------------+---------------+-----+
only showing top 20 rows

In [63]:
emp_df.groupBy("County").sum("Salary").withColumn("sal", col("sum(Salary)")).show()

+--------------------+-----------+-------+
|              County|sum(Salary)|    sal|
+--------------------+-----------+-------+
|               Bucks|    1798995|1798995|
|              Grimes|     133943| 133943|
|           Worcester|    2605581|2605581|
|            Thurston|     303027| 303027|
|Skagway-Hoonah-An...|     168821| 168821|
|      East Feliciana|      77318|  77318|
|                Utah|     286249| 286249|
|               Tyler|     105695| 105695|
|             Hanover|     258744| 258744|
|          Charleston|    1094408|1094408|
|             Shannon|     365807| 365807|
|             Whigham|      85000|  85000|
|            Montcalm|     725627| 725627|
|                 Bow|     137317| 137317|
|               Pasco|     805124| 805124|
|            Angelina|     506885| 506885|
|              Hawaii|     760690| 760690|
|               Izard|     204622| 204622|
|          Deer Lodge|     157902| 157902|
|            Harrison|    1829477|1829477|
+--------------------+-----------+-------+
only showing top 20 rows

In [64]:
spec = Window.orderBy(col("Salary").desc())

In [70]:
emp_df.select("*").\
      withColumn("drank", dense_rank().over(spec)).\
      orderBy(col("Salary").desc()).show()

+------+----------+-----------+------+-------------+------+------------+---------------+-----+
|Emp ID|First Name|  Last Name|Gender|Date of Birth|Salary|      County|Year of Joining|drank|
+------+----------+-----------+------+-------------+------+------------+---------------+-----+
|583316|     Kenna|   Rothrock|     F|     2/6/1959|199971|     Madison|           1985|    1|
|506864|      Dick|        Sun|     M|    8/12/1959|199969|       Adair|           1987|    2|
|621655|       Sol| Pellegrino|     M|     6/8/1986|199958|    Accomack|           2013|    3|
|672252|       Jim|      Terry|     M|    1/18/1987|199954|Pottawatomie|           2010|    4|
|404337|     Hosea|  Gustafson|     M|    11/4/1970|199952| Los Angeles|           2005|    5|
|916763|  Floretta|     Macias|     F|    5/26/1973|199952|      Beaver|           1994|    5|
|740463|    Lanita|      Myatt|     F|    3/18/1986|199907|  Otter Tail|           2016|    6|
|854363|     Caleb|     Aiello|     M|     8/9/1960|199892|      Dallas|           1983|    7|
|566388|    Lennie|Baumgartner|     F|    6/30/1968|199892|      Fulton|           1996|    7|
|756069|    Latoya|    Donohoe|     F|   12/29/1988|199885|   Henderson|           2012|    8|
|526499|     Tonia|     Villar|     F|     6/9/1963|199832|     Johnson|           2000|    9|
|661572|   Coretta|  Middleton|     F|    6/14/1994|199828|    Jennings|           2017|   10|
|404133|   Tabitha|   Mcdaniel|     F|     2/9/1968|199827|       Wayne|           2015|   11|
|152267|      Kurt|     Deacon|     M|    9/10/1985|199823|    Plymouth|           2016|   12|
|863289|    Stuart|    Herrick|     M|   12/13/1982|199819|     Chester|           2005|   13|
|488166|    Halina|       Jack|     F|    9/24/1995|199806|   McCurtain|           2017|   14|
|271745|   Terrell|      Fouts|     F|    2/27/1969|199767|   Milwaukee|           2011|   15|
|932171|    Melisa|    Forsyth|     F|   11/20/1992|199766|       Logan|           2013|   16|
|578226|  Georgann|      Byrne|     F|     9/7/1990|199728|  Cumberland|           2017|   17|
|607650|     Irwin|       Hung|     M|    12/9/1959|199712|  Montgomery|           2015|   18|
+------+----------+-----------+------+-------------+------+------------+---------------+-----+
only showing top 20 rows