In [1]:
import findspark

In [2]:
findspark.init()

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession. \
            builder. \
            master('local'). \
            appName("practice"). \
            getOrCreate()

In [5]:
spark

In [ ]:
Reading and writing files using pyspark local

In [ ]:
Reading and writing files using pyspark HDFS

In [7]:
emp_df = spark.read.csv(r'C:\Users\Kshitij kadu\Desktop\sample_data\emp\Records.csv', header=True, inferSchema=True)

In [8]:
emp_df.count()

10000

In [9]:
emp_df.printSchema()

root
 |-- Emp ID: integer (nullable = true)
 |-- Name Prefix: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Middle Initial: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- E Mail: string (nullable = true)
 |-- Father's Name: string (nullable = true)
 |-- Mother's Name: string (nullable = true)
 |-- Mother's Maiden Name: string (nullable = true)
 |-- Date of Birth: string (nullable = true)
 |-- Time of Birth: string (nullable = true)
 |-- Age in Yrs.: double (nullable = true)
 |-- Weight in Kgs.: integer (nullable = true)
 |-- Date of Joining: string (nullable = true)
 |-- Quarter of Joining: string (nullable = true)
 |-- Half of Joining: string (nullable = true)
 |-- Year of Joining: integer (nullable = true)
 |-- Month of Joining: integer (nullable = true)
 |-- Month Name of Joining: string (nullable = true)
 |-- Short Month: string (nullable = true)
 |-- Day of Joining: integer (nullable = true)
 |-- DOW of Joining: string (nullable = true)
 |-- Short DOW: string (nullable = true)
 |-- Age in Company (Years): double (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Last % Hike: string (nullable = true)
 |-- SSN: string (nullable = true)
 |-- Phone No. : string (nullable = true)
 |-- Place Name: string (nullable = true)
 |-- County: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zip: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- User Name: string (nullable = true)
 |-- Password: string (nullable = true)

In [10]:
emp_detail = emp_df.select("Emp ID", "First Name", "Last Name", "Gender", "Date of Birth", "Salary","County")

In [11]:
emp_detail.printSchema()

root
 |-- Emp ID: integer (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Date of Birth: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- County: string (nullable = true)

In [13]:
emp_detail.count()

10000

In [14]:
emp_detail.repartition(5).write.csv(r'C:\Users\Kshitij kadu\Desktop\retail\write\write_csv\try',mode = 'overwrite')

In [17]:
emp_detail.groupBy('County').count().show()

+--------------------+-----+
|              County|count|
+--------------------+-----+
|               Bucks|   14|
|              Grimes|    2|
|           Worcester|   21|
|            Thurston|    3|
|Skagway-Hoonah-An...|    2|
|      East Feliciana|    1|
|                Utah|    2|
|               Tyler|    1|
|             Hanover|    2|
|          Charleston|   10|
|             Shannon|    3|
|             Whigham|    1|
|            Montcalm|    5|
|                 Bow|    1|
|               Pasco|    8|
|            Angelina|    3|
|              Hawaii|    6|
|               Izard|    3|
|          Deer Lodge|    1|
|            Harrison|   17|
+--------------------+-----+
only showing top 20 rows

In [16]:
spark.read.csv(r"C:\Users\Kshitij kadu\Desktop\retail\write\write_csv\try",header = True, inferSchema=True).count()

9995

In [11]:
order_df = spark.read.json("hdfs://localhost:9000/user/Kshitij kadu/userfirst/order*")

In [13]:
order_df.count()

68883

In [12]:
order_df.repartition(5).write.json("hdfs://localhost:9000/user/Kshitij kadu/userfirst/write/order_json")

In [14]:
order_df1 = spark.read.json("hdfs://localhost:9000/user/Kshitij kadu/userfirst/write/order_json")

In [15]:
order_df1.count()

68883

In [21]:
order_df = spark.read.json("hdfs://localhost:9000/user/Kshitij kadu/userfirst/order*")
order_df.count()
order_df.repartition(5).write.json("hdfs://localhost:9000/user/Kshitij kadu/userfirst/write/order_json", mode = 'overwrite')
order_df1 = spark.read.json("hdfs://localhost:9000/user/Kshitij kadu/userfirst/write/order_json")
order_df1.count()

68883

In [26]:
help(order_df1.take)

Help on method take in module pyspark.sql.dataframe:

take(num) method of pyspark.sql.dataframe.DataFrame instance
    Returns the first ``num`` rows as a :class:`list` of :class:`Row`.

    .. versionadded:: 1.3.0

    Examples
    --------
    >>> df.take(2)
    [Row(age=2, name='Alice'), Row(age=5, name='Bob')]

In [27]:
order_df1.take(10)

[Row(order_customer_id=8652, order_date='2013-12-28 00:00:00.0', order_id=25286, order_status='COMPLETE'),
 Row(order_customer_id=5754, order_date='2014-07-18 00:00:00.0', order_id=56525, order_status='PENDING_PAYMENT'),
 Row(order_customer_id=11028, order_date='2014-03-10 00:00:00.0', order_id=63741, order_status='PROCESSING'),
 Row(order_customer_id=5672, order_date='2013-12-15 00:00:00.0', order_id=61465, order_status='PROCESSING'),
 Row(order_customer_id=736, order_date='2014-07-04 00:00:00.0', order_id=54540, order_status='PENDING_PAYMENT'),
 Row(order_customer_id=11900, order_date='2013-08-11 00:00:00.0', order_id=3070, order_status='PENDING'),
 Row(order_customer_id=2997, order_date='2014-01-17 00:00:00.0', order_id=68022, order_status='COMPLETE'),
 Row(order_customer_id=5929, order_date='2013-12-02 00:00:00.0', order_id=67866, order_status='PENDING'),
 Row(order_customer_id=6460, order_date='2013-09-04 00:00:00.0', order_id=6559, order_status='CLOSED'),
 Row(order_customer_id=7970, order_date='2013-09-03 00:00:00.0', order_id=58814, order_status='PROCESSING')]