In [1]:
import findspark

In [2]:
findspark.init()

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession. \
            builder. \
            master('local'). \
            appName("practice"). \
            getOrCreate()

In [5]:
spark

In [6]:
order_df = spark.read.json(r"C:\Users\Kshitij kadu\Desktop\retail\orders")

In [7]:
order_df.count()

68883

In [8]:
customer_df = spark.read.json(r"C:\Users\Kshitij kadu\Desktop\retail\customers")

In [9]:
customer_df.count()

12435

In [10]:
from pyspark.sql.functions import *

In [15]:
df_join = order_df.join(broadcast(customer_df),order_df.order_customer_id == customer_df.customer_id)

In [16]:
df_join.explain()

== Physical Plan ==
*(2) BroadcastHashJoin [order_customer_id#7L], [customer_id#34L], Inner, BuildRight, false
:- *(2) Filter isnotnull(order_customer_id#7L)
:  +- FileScan json [order_customer_id#7L,order_date#8,order_id#9L,order_status#10] Batched: false, DataFilters: [isnotnull(order_customer_id#7L)], Format: JSON, Location: InMemoryFileIndex[file:/C:/Users/Kshitij kadu/Desktop/retail/orders], PartitionFilters: [], PushedFilters: [IsNotNull(order_customer_id)], ReadSchema: struct<order_customer_id:bigint,order_date:string,order_id:bigint,order_status:string>
+- BroadcastExchange HashedRelationBroadcastMode(List(input[3, bigint, false]),false), [id=#146]
   +- *(1) Filter isnotnull(customer_id#34L)
      +- FileScan json [customer_city#31,customer_email#32,customer_fname#33,customer_id#34L,customer_lname#35,customer_password#36,customer_state#37,customer_street#38,customer_zipcode#39] Batched: false, DataFilters: [isnotnull(customer_id#34L)], Format: JSON, Location: InMemoryFileIndex[file:/C:/Users/Kshitij kadu/Desktop/retail/customers], PartitionFilters: [], PushedFilters: [IsNotNull(customer_id)], ReadSchema: struct<customer_city:string,customer_email:string,customer_fname:string,customer_id:bigint,custom...

repartitioning and coalesce

In [ ]:
repartitioning - It is use to increase the partitions

In [ ]:
coalesce - it is use to decrease the partitions

In [17]:
help(df_join.write.json)

Help on method json in module pyspark.sql.readwriter:

json(path, mode=None, compression=None, dateFormat=None, timestampFormat=None, lineSep=None, encoding=None, ignoreNullFields=None) method of pyspark.sql.readwriter.DataFrameWriter instance
    Saves the content of the :class:`DataFrame` in JSON format
    (`JSON Lines text format or newline-delimited JSON <http://jsonlines.org/>`_) at the
    specified path.

    .. versionadded:: 1.4.0

    Parameters
    ----------
    path : str
        the path in any Hadoop supported file system
    mode : str, optional
        specifies the behavior of the save operation when data already exists.

        * ``append``: Append contents of this :class:`DataFrame` to existing data.
        * ``overwrite``: Overwrite existing data.
        * ``ignore``: Silently ignore this operation if data already exists.
        * ``error`` or ``errorifexists`` (default case): Throw an exception if data already                 exists.
    compression : str, optional
        compression codec to use when saving to file. This can be one of the
        known case-insensitive shorten names (none, bzip2, gzip, lz4,
        snappy and deflate).
    dateFormat : str, optional
        sets the string that indicates a date format. Custom date formats
        follow the formats at
        `datetime pattern <https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html>`_.  # noqa
        This applies to date type. If None is set, it uses the
        default value, ``yyyy-MM-dd``.
    timestampFormat : str, optional
        sets the string that indicates a timestamp format.
        Custom date formats follow the formats at
        `datetime pattern <https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html>`_.  # noqa
        This applies to timestamp type. If None is set, it uses the
        default value, ``yyyy-MM-dd'T'HH:mm:ss[.SSS][XXX]``.
    encoding : str, optional
        specifies encoding (charset) of saved json files. If None is set,
        the default UTF-8 charset will be used.
    lineSep : str, optional
        defines the line separator that should be used for writing. If None is
        set, it uses the default value, ``\n``.
    ignoreNullFields : str or bool, optional
        Whether to ignore null fields when generating JSON objects.
        If None is set, it uses the default value, ``true``.

    Examples
    --------
    >>> df.write.json(os.path.join(tempfile.mkdtemp(), 'data'))

In [24]:
df_join.repartition(4).write.json(r"C:\Users\Kshitij kadu\Desktop\retail\write\temp_repartition", mode = 'overwrite')

If we try to increase the amount of partiton using coalesce - It will not increase the
   partition and It will not throw an exception

In [25]:
df_join.coalesce(4).write.json(r"C:\Users\Kshitij kadu\Desktop\retail\write\temp_coalesce", mode = 'overwrite')

In [ ]:
Spark transformations - 

Spark Transformation is a function that produces new RDD from
the existing RDDs. It takes RDD as input and produces one or more RDD as output. 
Each time it creates new RDD when we apply any transformation

transformation is an lazy evaluation

In [42]:
emp_df = spark.read.csv(r'C:\Users\Kshitij kadu\Desktop\sample_data\Records.csv', header = True, inferSchema = True)

In [43]:
emp_df.printSchema()

root
 |-- Emp ID: integer (nullable = true)
 |-- Name Prefix: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Middle Initial: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- E Mail: string (nullable = true)
 |-- Father's Name: string (nullable = true)
 |-- Mother's Name: string (nullable = true)
 |-- Mother's Maiden Name: string (nullable = true)
 |-- Date of Birth: string (nullable = true)
 |-- Time of Birth: string (nullable = true)
 |-- Age in Yrs.: double (nullable = true)
 |-- Weight in Kgs.: integer (nullable = true)
 |-- Date of Joining: string (nullable = true)
 |-- Quarter of Joining: string (nullable = true)
 |-- Half of Joining: string (nullable = true)
 |-- Year of Joining: integer (nullable = true)
 |-- Month of Joining: integer (nullable = true)
 |-- Month Name of Joining: string (nullable = true)
 |-- Short Month: string (nullable = true)
 |-- Day of Joining: integer (nullable = true)
 |-- DOW of Joining: string (nullable = true)
 |-- Short DOW: string (nullable = true)
 |-- Age in Company (Years): double (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Last % Hike: string (nullable = true)
 |-- SSN: string (nullable = true)
 |-- Phone No. : string (nullable = true)
 |-- Place Name: string (nullable = true)
 |-- County: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zip: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- User Name: string (nullable = true)
 |-- Password: string (nullable = true)

In [45]:
emp_df = emp_df.select("Emp id","First Name",\
               "last Name", "Gender", "E Mail","Date of Joining","Salary","County","City", "State")

In [46]:
emp_df.show()

+------+----------+---------+------+--------------------+---------------+------+------------+---------------+-----+
|Emp id|First Name|last Name|Gender|              E Mail|Date of Joining|Salary|      County|           City|State|
+------+----------+---------+------+--------------------+---------------+------+------------+---------------+-----+
|198429|  Serafina|Bumgarner|     F|serafina.bumgarne...|       2/1/2008| 69294|  Chautauqua|         Clymer|   NY|
|178566|  Juliette|     Rojo|     F|juliette.rojo@yah...|       6/4/2011|193912|  Montgomery|       Glenside|   PA|
|647173|     Milan| Krawczyk|     M|milan.krawczyk@ho...|      1/19/2012|123681|Anne Arundel|  Gibson Island|   MD|
|847634|     Elmer|    Jason|     M|elmer.jason@yahoo...|      5/28/2017| 93504|  Washington|        Mendota|   VA|
|260736|     Zelda|   Forest|     F|zelda.forest@ibm.com|      1/28/2014|176642| Schenectady|    Schenectady|   NY|
|811306|     Rhett|      Wan|     M|rhett.wan@hotmail...|      1/21/2009| 59406|      Fresno|          Selma|   CA|
|956633|       Hal|   Farrow|     M|  hal.farrow@cox.net|      2/25/1991|164580|  Stanislaus|        Modesto|   CA|
|629539|       Del|Fernandez|     M|del.fernandez@hot...|       4/7/2016|138662|     Portage|           Kent|   OH|
|784160|     Corey|  Jackman|     M|corey.jackman@gma...|      6/29/1984| 57616|     Jamaica|        Jamaica|   NY|
|744723|      Bibi|  Paddock|     F|bibi.paddock@yaho...|      11/2/2016| 87148|     Overton|        Rickman|   TN|
|423093|      Eric|  Manning|     M|eric.manning@yaho...|     10/28/2002|149363|     Fayette|       Clermont|   IA|
|207808|   Renetta|   Hafner|     F|renetta.hafner@ao...|      8/22/1998|180289|     Broward|Fort Lauderdale|   FL|
|338634|       Paz|  Pearman|     F|paz.pearman@gmail...|      5/25/1982|144804|     Clayton|     Garnavillo|   IA|
|324573|    Ardath|   Forman|     F|ardath.forman@gma...|     10/16/2009|189373|      Clarke|         Athens|   GA|
|953724|     Nanci|   Osorio|     F|nanci.osorio@hotm...|      11/7/2003| 71321|     Grafton|        Lincoln|   NH|
|138700|  Maricela|   Simard|     F|maricela.simard@g...|      9/25/2016| 88513|     Sampson|         Ingold|   NC|
|644265|   Avelina|   Stoner|     F|avelina.stoner@ex...|     11/30/2010|157826|Westmoreland|         Salina|   PA|
|223871| Christene| Mattison|     F|christene.mattiso...|      9/13/2015|177224|      Jasper|           Alba|   MO|
|807262|    Stefan|    Maeda|     M|stefan.maeda@yaho...|      11/5/2011| 67028| St. Tammany|        Slidell|   LA|
|368234|   Gillian|   Winter|     F|gillian.winter@gm...|     11/28/1984|103619|       Otero|     Alamogordo|   NM|
+------+----------+---------+------+--------------------+---------------+------+------------+---------------+-----+
only showing top 20 rows

In [59]:
emp_df.filter("Gender = 'M' and Salary > 20000").show()

+------+----------+-----------+------+--------------------+---------------+------+---------------+-------------+-----+
|Emp id|First Name|  last Name|Gender|              E Mail|Date of Joining|Salary|         County|         City|State|
+------+----------+-----------+------+--------------------+---------------+------+---------------+-------------+-----+
|647173|     Milan|   Krawczyk|     M|milan.krawczyk@ho...|      1/19/2012|123681|   Anne Arundel|Gibson Island|   MD|
|847634|     Elmer|      Jason|     M|elmer.jason@yahoo...|      5/28/2017| 93504|     Washington|      Mendota|   VA|
|811306|     Rhett|        Wan|     M|rhett.wan@hotmail...|      1/21/2009| 59406|         Fresno|        Selma|   CA|
|956633|       Hal|     Farrow|     M|  hal.farrow@cox.net|      2/25/1991|164580|     Stanislaus|      Modesto|   CA|
|629539|       Del|  Fernandez|     M|del.fernandez@hot...|       4/7/2016|138662|        Portage|         Kent|   OH|
|784160|     Corey|    Jackman|     M|corey.jackman@gma...|      6/29/1984| 57616|        Jamaica|      Jamaica|   NY|
|423093|      Eric|    Manning|     M|eric.manning@yaho...|     10/28/2002|149363|        Fayette|     Clermont|   IA|
|807262|    Stefan|      Maeda|     M|stefan.maeda@yaho...|      11/5/2011| 67028|    St. Tammany|      Slidell|   LA|
|807442|        Ed|    Ferrari|     M|ed.ferrari@gmail.com|      2/15/2015|145831|          Ector|   Gardendale|   TX|
|496781|  Jonathan|       Rosa|     M|jonathan.rosa@gma...|      7/23/2010|198838|        Fairfax| Falls Church|   VA|
|301629|     Ruben|   Weissman|     M|ruben.weissman@gm...|       1/3/2017| 48543|         Bergen| Elmwood Park|   NJ|
|872750|   Johnnie|     Ibarra|     M|johnnie.ibarra@ao...|      4/14/2013|181385|      San Diego|    San Diego|   CA|
|813428|   Emerson|      Sands|     M|emerson.sands@gma...|       1/1/2015|106048|           Cass|     Dowagiac|   MI|
|380228|   Oswaldo|       Dodd|     M|oswaldo.dodd@gmai...|     11/14/1998| 92047|     Washington|     Harrison|   GA|
|613551|       Jay|    Shields|     M|jay.shields@gmail...|      8/26/2013|167893|      Jefferson|       Denver|   CO|
|147663|  Douglass|   Corrigan|     M|douglass.corrigan...|      2/19/2015| 86718|           Kane|Saint Charles|   IL|
|794524|    Armand|Fortenberry|     M|armand.fortenberr...|      2/17/2017|184287|         Greene|      Windham|   NY|
|392234|     Monty|       Hail|     M|monty.hail@gmail.com|     10/30/1983| 89286|        Hampden|  Springfield|   MA|
|529020|   Bernard|   Bradshaw|     M|bernard.bradshaw@...|      3/31/2002| 98634|Prince George's|    Greenbelt|   MD|
|269950|      Seth|   Bilodeau|     M|seth.bilodeau@bel...|       7/6/2002|164287|         Benzie|     Lake Ann|   MI|
+------+----------+-----------+------+--------------------+---------------+------+---------------+-------------+-----+
only showing top 20 rows

In [53]:
emp_df.groupBy("State").count().show()

+-----+-----+
|State|count|
+-----+-----+
|   SC|  132|
|   AZ|  145|
|   LA|  168|
|   MN|  253|
|   NJ|  189|
|   DC|   66|
|   OR|   99|
|   VA|  303|
|   RI|   22|
|   KY|  260|
|   WY|   41|
|   NH|   59|
|   MI|  292|
|   NV|   49|
|   WI|  218|
|   ID|   84|
|   CA|  618|
|   CT|  111|
|   NE|  143|
|   MT|   99|
+-----+-----+
only showing top 20 rows

In [61]:
emp_df.cache()

DataFrame[Emp id: int, First Name: string, last Name: string, Gender: string, E Mail: string, Date of Joining: string, Salary: int, County: string, City: string, State: string]

In [ ]:
Broadcast join

In [62]:
df_join = order_df.join(broadcast(customer_df),order_df.order_customer_id == customer_df.customer_id).cache()

In [63]:
df_join.show()

+-----------------+--------------------+--------+---------------+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
|order_customer_id|          order_date|order_id|   order_status|customer_city|customer_email|customer_fname|customer_id|customer_lname|customer_password|customer_state|     customer_street|customer_zipcode|
+-----------------+--------------------+--------+---------------+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
|            11599|2013-07-25 00:00:...|       1|         CLOSED|      Hickory|     XXXXXXXXX|          Mary|      11599|        Malone|        XXXXXXXXX|            NC|8708 Indian Horse...|           28601|
|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|      Chicago|     XXXXXXXXX|         David|        256|     Rodriguez|        XXXXXXXXX|            IL|7605 Tawny Horse ...|           60625|
|            12111|2013-07-25 00:00:...|       3|       COMPLETE|   Santa Cruz|     XXXXXXXXX|         Amber|      12111|        Franco|        XXXXXXXXX|            CA|8766 Clear Prairi...|           95060|
|             8827|2013-07-25 00:00:...|       4|         CLOSED|  San Antonio|     XXXXXXXXX|         Brian|       8827|        Wilson|        XXXXXXXXX|            TX|   8396 High Corners|           78240|
|            11318|2013-07-25 00:00:...|       5|       COMPLETE|       Caguas|     XXXXXXXXX|          Mary|      11318|         Henry|        XXXXXXXXX|            PR|3047 Silent Ember...|           00725|
|             7130|2013-07-25 00:00:...|       6|       COMPLETE|     Brooklyn|     XXXXXXXXX|         Alice|       7130|         Smith|        XXXXXXXXX|            NY|      8852 Iron Port|           11237|
|             4530|2013-07-25 00:00:...|       7|       COMPLETE|        Miami|     XXXXXXXXX|          Mary|       4530|         Smith|        XXXXXXXXX|            FL|1073 Green Leaf G...|           33161|
|             2911|2013-07-25 00:00:...|       8|     PROCESSING|       Caguas|     XXXXXXXXX|          Mary|       2911|         Smith|        XXXXXXXXX|            PR|9166 Golden Necta...|           00725|
|             5657|2013-07-25 00:00:...|       9|PENDING_PAYMENT|     Lakewood|     XXXXXXXXX|          Mary|       5657|         James|        XXXXXXXXX|            OH|  1389 Dusty Circuit|           44107|
|             5648|2013-07-25 00:00:...|      10|PENDING_PAYMENT|      Memphis|     XXXXXXXXX|        Joshua|       5648|         Smith|        XXXXXXXXX|            TN|864 Iron Spring S...|           38111|
|              918|2013-07-25 00:00:...|      11| PAYMENT_REVIEW|       Caguas|     XXXXXXXXX|        Nathan|        918|         Smith|        XXXXXXXXX|            PR|    9627 Honey Trail|           00725|
|             1837|2013-07-25 00:00:...|      12|         CLOSED|       Caguas|     XXXXXXXXX|          Mary|       1837|          Vega|        XXXXXXXXX|            PR|  4312 Bright Corner|           00725|
|             9149|2013-07-25 00:00:...|      13|PENDING_PAYMENT|    Santa Ana|     XXXXXXXXX|        Ronald|       9149|     Whitehead|        XXXXXXXXX|            CA|6789 Round Robin ...|           92705|
|             9842|2013-07-25 00:00:...|      14|     PROCESSING|       Caguas|     XXXXXXXXX|          Mary|       9842|         Smith|        XXXXXXXXX|            PR|454 Lazy Branch F...|           00725|
|             2568|2013-07-25 00:00:...|      15|       COMPLETE|      Memphis|     XXXXXXXXX|         Maria|       2568|         Smith|        XXXXXXXXX|            TN|   3544 Fallen Mount|           38127|
|             7276|2013-07-25 00:00:...|      16|PENDING_PAYMENT|       Caguas|     XXXXXXXXX|        Pamela|       7276|         Smith|        XXXXXXXXX|            PR|    9243 Old Gardens|           00725|
|             2667|2013-07-25 00:00:...|      17|       COMPLETE|   Sun Valley|     XXXXXXXXX|         Tammy|       2667|         Smith|        XXXXXXXXX|            CA| "8906 Rustic Mall "|           91352|
|             1205|2013-07-25 00:00:...|      18|         CLOSED|        Miami|     XXXXXXXXX|          Mary|       1205|        Powell|        XXXXXXXXX|            FL|9299 Quiet Pionee...|           33126|
|             9488|2013-07-25 00:00:...|      19|PENDING_PAYMENT|      Hialeah|     XXXXXXXXX|          Mary|       9488|         Smith|        XXXXXXXXX|            FL|    9758 Foggy Range|           33012|
|             9198|2013-07-25 00:00:...|      20|     PROCESSING|Bowling Green|     XXXXXXXXX|         David|       9198|          Kerr|        XXXXXXXXX|            KY|7312 Crystal Will...|           42101|
+-----------------+--------------------+--------+---------------+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
only showing top 20 rows

In [ ]:
StorageLevel.DISK_ONLY

In [65]:
from pyspark import StorageLevel

In [66]:
df_join = order_df.join(broadcast(customer_df),order_df.order_customer_id == customer_df.customer_id).persist(StorageLevel.DISK_ONLY)

In [67]:
df_join.show()

+-----------------+--------------------+--------+---------------+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
|order_customer_id|          order_date|order_id|   order_status|customer_city|customer_email|customer_fname|customer_id|customer_lname|customer_password|customer_state|     customer_street|customer_zipcode|
+-----------------+--------------------+--------+---------------+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
|            11599|2013-07-25 00:00:...|       1|         CLOSED|      Hickory|     XXXXXXXXX|          Mary|      11599|        Malone|        XXXXXXXXX|            NC|8708 Indian Horse...|           28601|
|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|      Chicago|     XXXXXXXXX|         David|        256|     Rodriguez|        XXXXXXXXX|            IL|7605 Tawny Horse ...|           60625|
|            12111|2013-07-25 00:00:...|       3|       COMPLETE|   Santa Cruz|     XXXXXXXXX|         Amber|      12111|        Franco|        XXXXXXXXX|            CA|8766 Clear Prairi...|           95060|
|             8827|2013-07-25 00:00:...|       4|         CLOSED|  San Antonio|     XXXXXXXXX|         Brian|       8827|        Wilson|        XXXXXXXXX|            TX|   8396 High Corners|           78240|
|            11318|2013-07-25 00:00:...|       5|       COMPLETE|       Caguas|     XXXXXXXXX|          Mary|      11318|         Henry|        XXXXXXXXX|            PR|3047 Silent Ember...|           00725|
|             7130|2013-07-25 00:00:...|       6|       COMPLETE|     Brooklyn|     XXXXXXXXX|         Alice|       7130|         Smith|        XXXXXXXXX|            NY|      8852 Iron Port|           11237|
|             4530|2013-07-25 00:00:...|       7|       COMPLETE|        Miami|     XXXXXXXXX|          Mary|       4530|         Smith|        XXXXXXXXX|            FL|1073 Green Leaf G...|           33161|
|             2911|2013-07-25 00:00:...|       8|     PROCESSING|       Caguas|     XXXXXXXXX|          Mary|       2911|         Smith|        XXXXXXXXX|            PR|9166 Golden Necta...|           00725|
|             5657|2013-07-25 00:00:...|       9|PENDING_PAYMENT|     Lakewood|     XXXXXXXXX|          Mary|       5657|         James|        XXXXXXXXX|            OH|  1389 Dusty Circuit|           44107|
|             5648|2013-07-25 00:00:...|      10|PENDING_PAYMENT|      Memphis|     XXXXXXXXX|        Joshua|       5648|         Smith|        XXXXXXXXX|            TN|864 Iron Spring S...|           38111|
|              918|2013-07-25 00:00:...|      11| PAYMENT_REVIEW|       Caguas|     XXXXXXXXX|        Nathan|        918|         Smith|        XXXXXXXXX|            PR|    9627 Honey Trail|           00725|
|             1837|2013-07-25 00:00:...|      12|         CLOSED|       Caguas|     XXXXXXXXX|          Mary|       1837|          Vega|        XXXXXXXXX|            PR|  4312 Bright Corner|           00725|
|             9149|2013-07-25 00:00:...|      13|PENDING_PAYMENT|    Santa Ana|     XXXXXXXXX|        Ronald|       9149|     Whitehead|        XXXXXXXXX|            CA|6789 Round Robin ...|           92705|
|             9842|2013-07-25 00:00:...|      14|     PROCESSING|       Caguas|     XXXXXXXXX|          Mary|       9842|         Smith|        XXXXXXXXX|            PR|454 Lazy Branch F...|           00725|
|             2568|2013-07-25 00:00:...|      15|       COMPLETE|      Memphis|     XXXXXXXXX|         Maria|       2568|         Smith|        XXXXXXXXX|            TN|   3544 Fallen Mount|           38127|
|             7276|2013-07-25 00:00:...|      16|PENDING_PAYMENT|       Caguas|     XXXXXXXXX|        Pamela|       7276|         Smith|        XXXXXXXXX|            PR|    9243 Old Gardens|           00725|
|             2667|2013-07-25 00:00:...|      17|       COMPLETE|   Sun Valley|     XXXXXXXXX|         Tammy|       2667|         Smith|        XXXXXXXXX|            CA| "8906 Rustic Mall "|           91352|
|             1205|2013-07-25 00:00:...|      18|         CLOSED|        Miami|     XXXXXXXXX|          Mary|       1205|        Powell|        XXXXXXXXX|            FL|9299 Quiet Pionee...|           33126|
|             9488|2013-07-25 00:00:...|      19|PENDING_PAYMENT|      Hialeah|     XXXXXXXXX|          Mary|       9488|         Smith|        XXXXXXXXX|            FL|    9758 Foggy Range|           33012|
|             9198|2013-07-25 00:00:...|      20|     PROCESSING|Bowling Green|     XXXXXXXXX|         David|       9198|          Kerr|        XXXXXXXXX|            KY|7312 Crystal Will...|           42101|
+-----------------+--------------------+--------+---------------+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
only showing top 20 rows